[Unit]
Description=Start tun2socks_10_68_8_103

[Service]
ExecStart=badvpn-tun2socks --tundev tun99 --netif-ipaddr 10.0.1.4 --netif-netmask 255.255.255.0 --socks-server-addr 10.68.8.103:1080

[Install]
WantedBy=multi-user.target
