[Desktop Entry]
Version=1.1
Type=Application
Name=Postman
Comment=Supercharge your API workflow
Exec=zsh -ic '$POSTMAN_HOME/Postman'
Icon=icon.png
Actions=
Categories=Development;IDE;
